<div class="info boxed">
  <div class="text-image-left">
    <img src="/assets/images/logos/logo-300x300.png" alt="el Café de la Plata" title="el Café de la Plata"></div>
    <div class="text-justify">
        <p>En mayo del 2001 un sueño empezó ha hacerse realidad: el café de la plata. </p>
        <p>Un local soñado en la costa de la plata gaditana, en Zahara de los Atunes, algunos años antes.</p>
        <p>La intención era poner un granito de arena para hacer feliz a la gente.
        Como? Pues buscando un espacio donde introducir la cultura de Club “a
        nuestra manera”. Juntar música, comida, vino, amistad y alegría en un
        espacio un punto “canalla” apto para todos los públicos. Que fuese la
        extensión de tu propia casa. Un lugar de paz!</p>
        <p>Gracias a todos vosotros lo hemos conseguido!</p>
        <p>Para aquellos que no han estado todavía en el café os explicamos que os vais a encontar:</p>
        <p>Adoptando algo tan nuestro como el tapeo, plato en medio, lo hemos
        abierto a la gastronomía del mundo. Todo es susceptible de ser
        compartido si lo pones en medio de la mesa. Lo de mi plato, “esto de
        primero y esto de segundo” no acaba de funcionar en el café. Es
        fundamental para disfrutar del café querer compartir todo: la mesa, el
        vino, la conversación, la música y por supuesto la comida.
        No inventamos nada, pero si tuvimos la osadia de proponer hace muchos
        años algo que se desmarcaba de las ofertas del mercado y que hoy en dia
        se esta implantando.</p>
        <p>el café de la plata CLUB&amp;GASTRONOMIA</p>
        <p>La fórmula es unir gastronomía (compartida) y cultura de club alrededor
        de una marca con una imagen potente y una filosofía singular: queremos
        la paz.</p>
        <p>De nuevo gracias por todo a todos!!!</p>
  </div>
</div>
