@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');
@font-face {
  font-family: 'impactreg';
  src: url('../fonts/impactreg.eot');
  src: local('impactreg'), url('../fonts/impactreg.woff') format('woff'), url('../fonts/impactreg.ttf') format('truetype');
}
