<div class="row">
            <div class="large-12 columns">
                <h1 data-magellan-destination="menu" id="menu"></h1>

                <table role="grid" class="menu_table">
                    <caption>
                                                    <div class="square caption"><span class="green" id="menu_square_green"></span><span class="caption-text">Vegetales</span></div>
                                                    <div class="square caption"><span class="yellow" id="menu_square_yellow"></span><span class="caption-text">Quesos</span></div>
                                                    <div class="square caption"><span class="red" id="menu_square_red"></span><span class="caption-text">Carne</span></div>
                                                    <div class="square caption"><span class="blue" id="menu_square_blue"></span><span class="caption-text">Del Mar</span></div>
                                                    <div class="square caption"><span class="white" id="menu_square_white"></span><span class="caption-text">Pasta</span></div>
                                            </caption>
                                            <tbody><tr>
                                                        <td>
                                <h6 class="menu_title">PATATAS BRAVAS estilo café de la plata</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/bravas.jpg" alt="PATATAS BRAVAS estilo café de la plata" title="PATATAS BRAVAS estilo café de la plata">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">GALLETA DE FOIE DE CANARD MICUIT... con mil flores</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/galleta_foie.jpg" alt="GALLETA DE FOIE DE CANARD MICUIT... con mil flores" title="GALLETA DE FOIE DE CANARD MICUIT... con mil flores">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">FIOCCI DE PERA Y QUESO con salsa de zanahorias</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/fiocci_pera.jpg" alt="FIOCCI DE PERA Y QUESO con salsa de zanahorias" title="FIOCCI DE PERA Y QUESO con salsa de zanahorias">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                                    <span class="white"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">VACÍO DE TERNERA a la pizza con crema de calabaza</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/vacio.jpg" alt="VACÍO DE TERNERA a la pizza con crema de calabaza" title="VACÍO DE TERNERA a la pizza con crema de calabaza">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">PAQUTITO DE ESCAMORZA con mermelada de cebolla roja</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/escamorza.jpg" alt="PAQUTITO DE ESCAMORZA con mermelada de cebolla roja" title="PAQUTITO DE ESCAMORZA con mermelada de cebolla roja">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">CARPACCIO DE QUESO IDIAZABAL con sobrasada, piñones y miel</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">ENSALADA DE LANGOSTINOS, con soja y vinagreta de mango</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="blue"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">ENSALADA DE QUESO DE CABRA con vinagreta de mostaza</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/ensalada_cabra.jpg" alt="ENSALADA DE QUESO DE CABRA con vinagreta de mostaza" title="ENSALADA DE QUESO DE CABRA con vinagreta de mostaza">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">EMPANADITA CAPRECE, con mozzarella, tomate y albahaca</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                                    <span class="white"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">BOLINHAS DE MACAXEIRA... delicia de mandioca y queso</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/bolinhas.jpg" alt="BOLINHAS DE MACAXEIRA... delicia de mandioca y queso" title="BOLINHAS DE MACAXEIRA... delicia de mandioca y queso">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">TORRADA CON BRIE y mermelada de cebolla</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">ENSALADA TIBIA DE BERENJENAS ahumadas, con tomate y queso</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">MUQUECA DE BACALAO con leche de coco y cilantro</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="blue"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">CRUJIENTES CON VERDURITAS, saquitos de wanton rellenos</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/crujiente_verduras.jpg" alt="CRUJIENTES CON VERDURITAS, saquitos de wanton rellenos" title="CRUJIENTES CON VERDURITAS, saquitos de wanton rellenos">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="white"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">HUMUS Y PITA... pate de garbanzos, tahina, limon y aceite de oliva</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/humus.jpg" alt="HUMUS Y PITA... pate de garbanzos, tahina, limon y aceite de oliva" title="HUMUS Y PITA... pate de garbanzos, tahina, limon y aceite de oliva">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">EL CANELÓN... crep de espinacas y más cositas! :)</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">ARROZ DE LA PLATA, arroz y verduras, con crema de ceps</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/arroz_plata.jpg" alt="ARROZ DE LA PLATA, arroz y verduras, con crema de ceps" title="ARROZ DE LA PLATA, arroz y verduras, con crema de ceps">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">TABULÉ... sémola de trigo con verduritas</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/tabule.jpg" alt="TABULÉ... sémola de trigo con verduritas" title="TABULÉ... sémola de trigo con verduritas">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">LA BURGUER DE SOJA... única e impresionante!</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">RAVIOLIS DE FORMAGIO DI FOSA con crema de quesos</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/ravioli_queso.jpg" alt="RAVIOLIS DE FORMAGIO DI FOSA con crema de quesos" title="RAVIOLIS DE FORMAGIO DI FOSA con crema de quesos">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                                    <span class="white"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">LA PROVOLETA... queso provolone al estilo de Fabian</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/provoleta.jpg" alt="LA PROVOLETA... queso provolone al estilo de Fabian" title="LA PROVOLETA... queso provolone al estilo de Fabian">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">CROQUETAS CASERAS de pollo</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">BRIE REBOZADO y perfumado con nueces y miel</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/brie.jpg" alt="BRIE REBOZADO y perfumado con nueces y miel" title="BRIE REBOZADO y perfumado con nueces y miel">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">FOIE GRAS DE PATO CURADO A LA SAL... del GRECO</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/foie_pato.jpg" alt="FOIE GRAS DE PATO CURADO A LA SAL... del GRECO" title="FOIE GRAS DE PATO CURADO A LA SAL... del GRECO">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">MATAMBRITO, rollito de carne y verduritas con bacon</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/matambrito.jpg" alt="MATAMBRITO, rollito de carne y verduritas con bacon" title="MATAMBRITO, rollito de carne y verduritas con bacon">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                                    <span class="yellow"></span>
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">PAI de carne al estilo argentino de Fabian</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/pai.jpg" alt="PAI de carne al estilo argentino de Fabian" title="PAI de carne al estilo argentino de Fabian">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                                    <span class="white"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">MINI HAMBURGUESITAS de ternera</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/mini_hamburguesa.jpg" alt="MINI HAMBURGUESITAS de ternera" title="MINI HAMBURGUESITAS de ternera">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="yellow"></span>
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">YUCA FRITA... bastoncitos de yuca + salsa</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">MEDALLONES DE SOLOMILLO... macerado a las hierbas de provenza</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/solomillo.jpg" alt="MEDALLONES DE SOLOMILLO... macerado a las hierbas de provenza" title="MEDALLONES DE SOLOMILLO... macerado a las hierbas de provenza">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">MAGRET DE PATO perfumado con licor de naranja</h6>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">DELICIAS DE POLLO con una sorprendente salsa de champiñones</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/delicias_pollo.jpg" alt="DELICIAS DE POLLO con una sorprendente salsa de champiñones" title="DELICIAS DE POLLO con una sorprendente salsa de champiñones">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">PICAÑA DE TERNERA, rabillo de cadera a la brasa de carbón</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/picana.jpg" alt="PICAÑA DE TERNERA, rabillo de cadera a la brasa de carbón" title="PICAÑA DE TERNERA, rabillo de cadera a la brasa de carbón">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">FINGERS DE POLLO, almendras y salsa de lima</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/fingers.jpg" alt="FINGERS DE POLLO, almendras y salsa de lima" title="FINGERS DE POLLO, almendras y salsa de lima">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">BROCHETA DE LANGOSTINOS Y JAMÓN a la parrilla</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/brocheta.jpg" alt="BROCHETA DE LANGOSTINOS Y JAMÓN a la parrilla" title="BROCHETA DE LANGOSTINOS Y JAMÓN a la parrilla">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="red"></span>
                                                                    <span class="blue"></span>
                                                            </div></td>
                        </tr>
                                            <tr>
                                                        <td>
                                <h6 class="menu_title">HAMBURGUESITAS DE GARBANZOS con salsa de yoghurt y pepino</h6>
                                                                    <div>
                                        <img src="https://elcafedelaplata.net/images/menu/hamburguesita_garbanzos.jpg" alt="HAMBURGUESITAS DE GARBANZOS con salsa de yoghurt y pepino" title="HAMBURGUESITAS DE GARBANZOS con salsa de yoghurt y pepino">
                                    </div>
                                                            </td>
                            <td><div class="square">
                                                                    <span class="green"></span>
                                                            </div></td>
                        </tr>
                                    </tbody></table>
            </div>
        </div>
